/* Global styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Alkatra, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  position: relative;
  transition: opacity 300ms ease;
}

img {
  width: 100%;
}

h1 {
  margin: 0;
}

form {
  display: inline-block;
}

button:active {
  transform: translateY(1px);
}

ul {
  list-style: none;
}

li {
  list-style-type: none;
}

nav {
  margin: 0 auto;
}

header {
  height: calc(100vh- 100px);
  padding: 80px 32px;
  margin: 0 auto;
  width: 100%;
}

footer {
  background-color: #f5f5f5;
  padding: 10px;
  text-align: center;
  font-size: 12px;
}

.container {
  padding: 80px 0;
}

.row {
  width: 100%;
  margin: 0 auto;
}

.click{
    cursor: pointer;
    transition: all 300ms ease;
}

input::placeholder{
    color: #3282b8;
    font-size: 16px;
}

/* nav section */

.nav__container {
  height: 100px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  background-color: #0F4C75;
  color: white;
}

.nav__link--list {
  display: flex;
}

.link__hover-effect:hover {
  color: #1B262C;
}

.nav__link--anchor {
  margin: 0 24px;
  color: white;
  font-weight: bold;
}

.nav__link--anchor-primary {
  background-color: #1B262C;
  padding: 12px 32px;
  color: bbe1fa;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.nav__link--anchor-primary:hover {
  color: #0F4C75;
  background-color: #bbe1fa;
  transition: all 300ms ease;
}

/* search section */

header{
    height: calc(100vh - 100px);
    padding: 80px 32px;
    width: 100%;
    background-color: #bbe1fa;
}

.search-top--container{
  display: flex;
  justify-content: space-between;
  padding-left: 16px;
  padding-bottom: 64px;
}

.search-top--h2 {
  width: 60%;
  font-size: 48px;  
  color: #1B262C;
}

.p-container{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-top--p{

  color: #1B262C;
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
  padding-top: 16px;
}

.bottom-line{
  background-color: #1B262C;
  padding: 0.5px;
  width: 100%;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1B262C;
  margin-left: -32px;
}

.search-bar--wrapper {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.search-bar {
  font-size: 16px;
}

.search-input {
  font-weight: 500;
  padding: 20px 160px 20px 32px;
  border: none;
  background-color: #bbe1fa;
}

.search-button {
  background-color: #0F4C75;
  color: white;
  position: absolute;
  width: 120px;
  font-weight: 700;
  margin: 8px 8px 8px 0;
  padding: 8px;
  border-style: none;
  right: 0px;
  top: 0px;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 300ms;
}

.search-button:hover {
    background-color: #0081C9;
    cursor: pointer;
  }

.recent-searches {
  width: 50%;
  background-color: #bbe1fa;
}

.search__link--title {
  font-size: 24px;
  padding-left: 16px;
  color: #1B262C;

}

.search__link--list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search__link-first,
.search__link-second,
.search__link-third {
  width: calc(100% / 3);
  margin: 0 8px;
  padding: 8px;
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: #0F4C75;
  color: white;
}

.search__link-first:hover,
.search__link-second:hover,
.search__link-third:hover{
    background-color: #0081C9;
    cursor: pointer;
}

.search__name {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 8px;
  margin-top: 10px;
}

.search__temperature {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 8px;
}

.search__weather-status {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.scroll{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.scroll-icon{
    width: 18px;
    height: 30px;
    border: 2px solid #1B262C;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-icon::after{
    content: "";
    width: 3px;
    height: 6px;
    background-color: #1B262C;
    border-radius: 2px;
    animation: scroll 1000ms infinite alternate-reverse;
}

@keyframes scroll {
    0%{
        transform: translateY(3px);
    }

    100%{
        transform: translateY(-3px);
    }
    
}


/* WORLD SECTION */

#world {
  background-color: #3282b8;
  color: #1B262C;
  padding: 60px 0;
  height: 100vh;
}

.world-h2 {
  font-size: 48px;
  margin-bottom: 20px;
  text-align: center;
}

.world-p {
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.world-link--list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.world-link {
  display: flex;
  flex-direction: column;
  position: relative;
  width: calc(100% / 2);
  text-align: left;
  padding: 32px 8px;
}

.world-link a {
  display: block;
  padding: 10px 20px;
  background-color: #bbe1fa;
  color: #1B262C;
  font-size: 24px;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.world-link a:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.world-button {
  display: flex;
  margin: auto;
  background-color: #1B262C;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.world-button:hover {
  background-color: #3282b8;
  color: #1B262C;
  font-weight: 700;
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}


/* WEATHER MAP SECTION */

#weather-map {
    background-color: #bbe1fa;
    color: #0F4C75;
    padding: 40px 0;
    height: 100vh;
  }
  
  .weather-map--title {
    text-align: center;
    font-size: 56px;
  }
  
  .weather-map--subtitle{
    text-align: center;
    font-size: 24px;
    margin-bottom: 40px;
  }

  .weather-map--container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1B262C;
    width: 80%;
    margin: 0 auto;
    padding: 40px;
  }

  /* news section */

#news {
    background-color: #3282b8;
    color: #1B262C;
    padding: 50px 0;
  }
  
  .news-title {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .news-p {
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .news a {
    display: block;
    width: 200px;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0;
    background-color: #00A4EF;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    transition-duration: 300ms;
  }
  
  .news a:hover {
    background-color: #0066CC;
  }
  

  /* FOOTER */

  #footer{
    background-color: #1B262C;
  }